<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>Servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllowanceServlet</servlet-name>
        <servlet-class>Servlet.AllowanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeductionServlet</servlet-name>
        <servlet-class>Servlet.DeductionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayrollAllowancServlet</servlet-name>
        <servlet-class>Servlet.PayrollAllowancServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>Servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>Servlet.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveServlet</servlet-name>
        <servlet-class>Servlet.LeaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllowanceServlet</servlet-name>
        <url-pattern>/AllowanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeductionServlet</servlet-name>
        <url-pattern>/DeductionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayrollAllowancServlet</servlet-name>
        <url-pattern>/PayrollAllowancServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveServlet</servlet-name>
        <url-pattern>/LeaveServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
